{
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "react", "react-hooks", "prettier", "jest"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  }
}
