@import 'tailwindcss';
@import '@marigold/theme-rui/theme.css';
@import './node_modules/@marigold/theme-rui/dist/global.css';

@source './node_modules/@marigold';
@source './.storybook/preview.tsx';
@source '../../packages/{components,system}/**/*.stories.{tsx,ts}';

/* marigold components */
@source './../../themes/theme-rui/**/*';
@source '!./../../themes/theme-rui/node_modules/**/*';
@source './../../packages/{components,system}/**/*.{tsx,ts}';
@source '!../../packages/{components,system}/node_modules/**/*.{tsx,ts}';
@source '!../../packages/{components,system}/**/*.{test}.{tsx,ts}';
