@import 'tailwindcss';
@import './theme.css';

/* from tailwind.config.ts */
@source './**/*.*.ts';
/* prettier-ignore */
@source inline('{bg,text,border,shadow}-{amber,blue,lime,neutral,red,secondary,primary,code}-{50,{100..900..100},950}');
/* prettier-ignore */
@source inline('{bg,text,border,shadow}-{text-primary,text-primary-muted,text-disabled,text-info,text-warning,bg-body,bg-inverted,bg-hover,bg-muted,bg-disabled,bg-underlay,bg-surface,bg-surface-raised,bg-surface-lowered,bg-surface-overlay,bg-success,bg-warning,bg-error,bg-info,bg-border,bg-border-primary,bg-border-success,bg-border-error}');

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* container stuff from preset https://tailwindcss.com/docs/upgrade-guide#container-configuration /
screens seems already be created */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
