@import 'tailwindcss';
@import './theme.css' theme(inline);

/* from tailwind.config.ts */
@source './**/*.*.ts';
@source '../../packages/{components,system}/**/*.{tsx,ts}';
@source '!../../packages/{components,system}/node_modules/**/*.{tsx,ts}';
@source '!../../packages/{components,system}/**/*.{stories,test}.{tsx,ts}';

/* from preset.ts */
@source './node_modules/@marigold/components/dist/*.js';
@source './node_modules/@marigold/system/dist/*.js';
@source './node_modules/@marigold/theme-docs/dist/index.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* container stuff from preset https://tailwindcss.com/docs/upgrade-guide#container-configuration /
screens seems already be created */
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
