@theme {
  /* screens.ts */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;

  /* fontFamily */
  --font-body: var(--font-sans);

  /* animation */
  --animate-shiny-text: shiny-text 8s infinite;

  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }

  /* tokens.ts */
  /* white*/
  --color-white: #ffffff;

  /* amber */
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fde68a;
  --color-amber-300: #fcd34d;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
  --color-amber-700: #b45309;
  --color-amber-800: #92400e;
  --color-amber-900: #78350f;
  --color-amber-950: #451a03;

  /* blue */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;

  /* lime */
  --color-lime-50: #f7fee7;
  --color-lime-100: #ecfccb;
  --color-lime-200: #d9f99d;
  --color-lime-300: #bef264;
  --color-lime-400: #a3e635;
  --color-lime-500: #84cc16;
  --color-lime-600: #65a30d;
  --color-lime-700: #4d7c0f;
  --color-lime-800: #3f6212;
  --color-lime-900: #365314;
  --color-lime-950: #1a2e05;

  /* neutral */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  /* red */
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  /* slate is for secondary */
  --color-secondary-50: #f8fafc;
  --color-secondary-100: #f1f5f9;
  --color-secondary-200: #e2e8f0;
  --color-secondary-300: #cbd5e1;
  --color-secondary-400: #94a3b8;
  --color-secondary-500: #64748b;
  --color-secondary-600: #475569;
  --color-secondary-700: #334155;
  --color-secondary-800: #1e293b;
  --color-secondary-900: #0f172a;
  --color-secondary-950: #020617;

  /* custom colors */

  /* brand */
  --color-primary-50: #fff2e6;
  --color-primary-100: #fee6cd;
  --color-primary-200: #fdcc9b;
  --color-primary-300: #fcb369;
  --color-primary-400: #fb9937;
  --color-primary-500: #fa8005;
  --color-primary-600: #c86604;
  --color-primary-700: #964d03;
  --color-primary-800: #643302;
  --color-primary-900: #321a01;
  --color-primary-950: #190d00;

  /* code - material palenight theme */
  --color-code-50: #f6f7f9;
  --color-code-100: #ebecf3;
  --color-code-200: #d3d6e4;
  --color-code-300: #acb3cd;
  --color-code-400: #808cb0;
  --color-code-500: #606e97;
  --color-code-600: #4b557e;
  --color-code-700: #3e4666;
  --color-code-800: #363d56;
  --color-code-900: #292d3e;
  --color-code-950: #202231;

  /* text colors */
  --color-text-primary: var(--color-secondary-950);
  --color-text-primary-muted: var(--color-secondary-500);
  --color-text-disabled: var(--color-secondary-300);

  --color-text-info: var(--color-blue-800);
  --color-text-warning: var(--color-amber-800);

  /* background colors */
  --color-bg-body: var(--color-secondary-50);
  --color-bg-inverted: var(--color-secondary-700);
  --color-bg-hover: var(--color-neutral-100);
  --color-bg-muted: var(--color-secondary-100);
  --color-bg-disabled: var(--color-secondary-100);

  --color-bg-underlay: var(--color-secondary-500);

  --color-bg-surface: var(--color-secondary-50);
  --color-bg-surface-raised: var(--color-white);
  --color-bg-surface-lowered: var(--color-secondary-100);
  --color-bg-surface-overlay: var(--color-white);

  --color-bg-success: var(--color-lime-50);
  --color-bg-warning: var(--color-amber-50);
  --color-bg-error: var(--color-red-50);
  --color-bg-info: var(--color-blue-50);

  /* border colors */
  --color-border: var(--color-secondary-300);
  --color-border-primary: var(--color-secondary-950);

  --color-border-success: var(--color-lime-500);
  --color-border-error: var(--color-red-400);

  /* focus colors */
  --color-ring: var(--color-amber-400);
}

@plugin 'tailwindcss-react-aria-components';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';
@plugin 'tailwind-scrollbar';
