version: 2.1

on: ['push', 'pull_request']

orbs:
  slack: circleci/slack@3.4.2

jobs:
  test:
    docker:
      - image: circleci/node:12
        environment:
          - COVERALLS_REPO_TOKEN: '${{ secrets.COVERALLS_REPO_TOKEN }}'

    steps:
      - checkout
      - restore_cache:
          keys:
            - deps1-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}
            - deps1-{{ checksum ".circleci/config.yml" }}

      - run:
          name: Install packages
          command: yarn install

      - save_cache:
          key: deps1-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

      - run:
          name: Run tests
          command: yarn test --ci

      - store_artifacts:
          path: coverage

  coverage:
    docker:
      - image: circleci/node:12

    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}

      - run:
          name: Install packages
          command: yarn install

      - save_cache:
          key: deps1-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

      - run:
          name: Run coverage
          command: yarn test -i --coverage

      - persist_to_workspace:
          root: .
          paths:
            - ./coverage

  upload-coveralls:
    docker:
      - image: circleci/node:12

    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}

      - run:
          name: Install packages
          command: yarn install

      - save_cache:
          key: deps1-{{ checksum ".circleci/config.yml" }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

      - run:
          name: Upload coveralls
          command: |
              if [[ -v COVERALLS_REPO_TOKEN ]]
              then
                  node_modules/.bin/jest --coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
                  echo "Coveralls info uploaded"
              else
                  echo "Warning - Coveralls info could NOT be uploaded"
              fi

      - slack/status:
          webhook: ${SLACK_WEBHOOK}
          mentions: "CUG9R963C"
          fail_only: true

workflows:
  version: 2
  test_job:
    jobs:
      - test
      - coverage
      - upload-coveralls:
          requires:
            - coverage