@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

/* own theme */
@import './../../themes/theme-docs/dist/theme.css';
/* rui theme */
@import './../../themes/theme-rui/dist/styles.css';

@source './../../themes/theme-docs/src/**/*.ts';

/* demos */
@source './../content/**/*.{js,ts,jsx,tsx,mdx}';

/* from docs */
@source './../ui/**/*.{js,ts,jsx,tsx,mdx}';
@source './**/*.{js,ts,jsx,tsx,mdx}';

/* marigold components */
@source './../../packages/{components,system}/**/*.{tsx,ts}';
@source '!../../packages/{components,system}/node_modules/**/*.{tsx,ts}';
@source '!../../packages/{components,system}/**/*.{stories,test}.{tsx,ts}';
