@import 'tailwindcss';
@import './theme.css' theme(inline);
@import './global.css' theme(inline);
@source inline('{bg}-{stone}-{50,{100..900..100},950}');

/* from tailwind.config.ts */
@source 'src/**/*.*.ts';
@source '../../../packages/{components,system}/**/*.{tsx,ts}';
@source '!../../../packages/{components,system}/node_modules/**/*.{tsx,ts}';
@source '!../../../packages/{components,system}/**/*.{stories,test}.{tsx,ts}';

@source './safelist.txt';
