/* --- Base Surface Styles --- */
@utility surface {
  position: relative;
  display: inline-flex;
  width: 100%;

  border-radius: var(--radius-surface);
  border: 1px solid var(--color-surface-border);

  background: var(--color-surface);
  background-clip: padding-box;

  --tw-shadow: var(--shadow-xs);
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);

  transition-property: box-shadow, border;
  transition-timing-function: var(--ease-in-expo);
  transition-duration: 150ms;

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    inset: 0;
    border-radius: calc(var(--radius-surface) - 1px);
    --tw-shadow: 0 1px
      var(--tw-shadow-color, color-mix(in srgb, #000 10%, transparent));
    box-shadow:
      var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
}

/* --- Focus State (TODO: This is not only relevant for the surface but all elements?) --- */
@utility surface-ring {
  /* ring-ring/25 (Sets the default variable for the ring) */
  --tw-ring-color: oklch(var(--color-ring) / 0.25);

  /* has-focus-visible:border-ring has-focus-visible:ring-[3px] */
  &:has(:focus-visible) {
    border-color: var(--color-ring);
    box-shadow: 0 0 0 3px var(--tw-ring-color);
  }
}

/* --- Error/Invalid State --- */
@utility surface-error {
  /* has-aria-invalid:border-destructive/36 */
  &:has([aria-invalid='true']) {
    border-color: oklch(var(--color-destructive-raw) / 0.36);
  }

  /* Focus + Invalid combined state */
  &:has(:focus-visible):has([aria-invalid='true']) {
    border-color: oklch(var(--color-destructive-raw) / 0.64);
    --tw-ring-color: oklch(var(--color-destructive-raw) / 0.16);
  }
}

/* --- Disabled State --- */
@utility surface-disabled {
  /* has-disabled:opacity-64 */
  &:has(:disabled) {
    opacity: 0.64;
  }
}

/*

  TODO: This is part of the input, should this be set on the parent?
  (this is actually below sm breakpoint) 

  font-size: var(--font-size-base);
  line-height: var(--line-height-5);

*/
