/* 
    TODO: how to do normalization so we doesn't break everything?
    TODO: omit "background" in the naming convention? (https://ui.shadcn.com/docs/theming#convention)
    TODO: create component styles files and compile to CSS classes?
*/

/*
    - create tokens if we think:
        - it is necessary for a component
        - it can be used by other teams (if they build their own component)
*/

/*
 think about leaving `-background` for token values, because e.g. border-destructive, or 
 text-destructive like used in inputs
*/

@plugin "@marigold/theme-plugins/src/tw-rac-plugins";
@plugin "@marigold/theme-plugins/src/tw-custom-placement-plugin";
@plugin "@marigold/theme-plugins/src/tw-custom-aria-variants-plugin";
@plugin "tailwindcss-animate";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-sans-variable: InterVariable, system-ui, sans-serif;

  /* orange (use for accent) */
  --color-orange-50: #fff9ed;
  --color-orange-100: #fff1d5;
  --color-orange-200: #fedfaa;
  --color-orange-300: #fdc774;
  --color-orange-400: #fba43c;
  --color-orange-500: #f98e22;
  --color-orange-600: #ea6d0c;
  --color-orange-700: #c2520c;
  --color-orange-800: #9a4112;
  --color-orange-900: #7c3712;
  --color-orange-950: #431a07;

  --color-background: var(--color-white);
  --color-foreground: var(--color-stone-950);

  /* stone (use for brand) */
  --color-brand: var(--color-stone-950);
  --color-brand-foreground: var(--color-stone-50);

  /* used for hovering (e.g. calendar, button) */
  --color-hover: var(--color-stone-300);
  --color-hover-foreground: var(--color-stone-950);

  /* stone (use for secondary) */
  --color-secondary: var(--color-stone-50);
  --color-secondary-foreground: var(--color-stone-950);

  /* accent colors used for highlighting certain parts of components */

  /* used for errormessage, button */
  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-white);

  /* muted variant of destructive for badge */
  --color-destructive-muted-accent: var(--color-red-600);
  --color-destructive-muted: var(--color-red-100);
  --color-destructive-muted-foreground: var(--color-red-950);

  /* used for success elements, like icons */
  --color-success: var(--color-green-500);
  --color-success-foreground: var(--color-white);

  /* muted variant of success token, used in badge */
  --color-success-muted-accent: var(--color-green-600);
  --color-success-muted: var(--color-green-100);
  --color-success-muted-foreground: var(--color-green-950);

  /* used for warning elements, like icons */
  --color-warning: var(--color-yellow-400);
  --color-warning-foreground: var(--color-white);

  /* muted variant of warning token, used in badge */
  --color-warning-muted-accent: var(--color-yellow-600);
  --color-warning-muted: var(--color-yellow-100);
  --color-warning-muted-foreground: var(--color-yellow-950);

  /* used for info elements, like icons */
  --color-info: var(--color-blue-500);
  --color-info-foreground: var(--color-white);

  /* muted variant of info token, used in badge */
  --color-info-muted-accent: var(--color-blue-600);
  --color-info-muted: var(--color-blue-100);
  --color-info-muted-foreground: var(--color-blue-950);

  /* 
    muted colors are desaturated colors of the brand color,
    they help create hierarchy for secondary text. 
    Currently used for: helptext, icons inside inputs, readonly background inside inputs
  */
  --color-muted: var(--color-stone-100);
  --color-muted-foreground: var(--color-stone-500);

  --color-disabled: var(--color-stone-200);
  --color-disabled-foreground: var(--color-stone-400);

  /* used for placeholder color */
  --color-placeholder: --alpha(var(--color-stone-500) / 70%);
  /* used for outline/border as ring*/
  --color-ring: var(--color-stone-400);

  /* Input tokens */
  /* color input used for inputs as border or e.g. in switch as bg track color */
  --color-input: var(--color-stone-300);
  /* component height for input elements */
  --spacing-input: 2.25rem;

  /* component height for button elements */
  --spacing-button: 2.25rem;

  /* surface colors used for elevation levels */
  --color-surface-overlay: var(--color-white);

  --color-border: var(--color-stone-200);

  /* Focus color is used for focusing an element (e.g. segment on Datefield)*/
  --color-focus: var(--color-stone-100);

  /* Selected color is used when there is an active selection in the component */
  --color-selected: var(--color-stone-100);

  /* animation and keyframes */
  --animate-rotate-spinner: rotate-spinner 2s linear infinite;
  --animate-progress-cycle: progress-cycle 1.5s linear infinite;

  @keyframes rotate-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes progress-cycle {
    0% {
      transform: rotate(0deg);
      stroke-dashoffset: 75;
    }
    30% {
      stroke-dashoffset: 20;
    }
    100% {
      transform: rotate(360deg);
      stroke-dashoffset: 75;
    }
  }
}
