/*
 * Custom Tailwind utilities
 *
 * This file contains reusable utility functions and class shortcuts that
 * encapsulate common design decisions across the theme.
 */

/* ========================= */
/*    Surface & Elevation    */
/* ========================= */

/* Go over these when doing DST-878 */

@utility util-surface-sunken {
  background: var(--surface-sunken);

  --tw-shadow: var(--surface-sunken-shadow);
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@utility util-surface-body {
  background: var(--surface-body);

  --tw-shadow: var(--surface-body-shadow);
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@utility util-surface-raised {
  background: var(--surface-raised);
  border: 1px var(--tw-border-style) var(--surface-raised-border);

  --tw-shadow: var(--surface-raised-shadow);
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@utility util-surface-overlay {
  background: var(--surface-overlay);
  border: 1px var(--tw-border-style) var(--surface-overlay-border);

  --tw-shadow: var(--surface-overlay-shadow);
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
