name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.2.0 # Uses version from package.json#packageManager
      - name: Setup Node (using .node-version)
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      # Publish to npm
      - name: Build packages
        run: pnpm build
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          title: 'release: version packages'
          publish: pnpm changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Send Slack Notification
      - name: Create release notification
        if: steps.changesets.outputs.published == 'true'
        run: pnpm release:notification --packages '${{ steps.changesets.outputs.publishedPackages }}'
      - name: Slack Notification
        if: steps.changesets.outputs.published == 'true'
        uses: slackapi/slack-github-action@v2.1.1
        with:
          payload-file-path: './slack-notification.json'
          webhook: ${{ secrets.SLACK_HOOK }}
          webhook-type: webhook-trigger

      # We use the "docs" branch for the production build on vercel
      - name: Updating "docs" branch
        if: steps.changesets.outputs.published == 'true'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          branch: docs
          clean: true
