name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 6.32.3
      - name: Setup Node (using .node-version)
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      # Publish
      - name: Build packages
        run: pnpm build
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          title: 'release: version packages'
          publish: pnpm changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Docs
      - name: Update "marigold-ui.io"
        if: steps.changesets.outputs.published == 'true'
        run: pnpm release:docs

      # Slack Notification
      - name: Get current date
        if: steps.changesets.outputs.published == 'true'
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: Get release info
        if: steps.changesets.outputs.published == 'true'
        id: releases
        run: echo "::set-output name=releases::$(node node scripts/format-published-packages.mjs '${{ steps.changesets.outputs.publishedPackages }}')"
      - name: Slack Notification
        if: steps.changesets.outputs.published == 'true'
        uses: slackapi/slack-github-action@v1.19.0
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": ":tada:  New Marigold Release"
                  }
                },
                {
                  "type": "context",
                  "elements": [
                    {
                      "text": "*${{ steps.date.outputs.date }}* | Design System Team",
                      "type": "mrkdwn"
                    }
                  ]
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "We updated the following packages. For a detailed list of updates, fixes and additions see the latest changelog of the respective package."
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ steps.releases.outputs.releases }}"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "If you find any bugs or have suggestions how we can improve Marigold, please <https://github.com/marigold-ui/marigold/issues/new/choose|let us know>!"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_HOOK }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
