name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.2 # Uses version from package.json#packageManager
      - name: Setup Node (using .node-version)
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      # Publish to npm
      - name: Build packages
        run: pnpm build
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          title: 'release: version packages'
          publish: pnpm changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Send Slack Notification
      - name: Create release notification
        if: steps.changesets.outputs.published == 'true'
        run: pnpm release:notification -- --packages '${{ steps.changesets.outputs.publishedPackages }}'
      - name: Slack Notification
        if: steps.changesets.outputs.published == 'true'
        uses: slackapi/slack-github-action@v1.19.0
        with:
          payload-file-path: './slack-notification.json'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_HOOK }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK

      # Update Docs
      - name: Build "marigold-ui.io"
        if: steps.changesets.outputs.published == 'true'
        run: pnpm build:docs
      - name: Deploy "marigold-ui.io"
        if: steps.changesets.outputs.published == 'true'
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx gh-pages -d public -u "github-actions-bot <support+actions@github.com>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
